html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

:root{
  --BaseColor: rgb(49, 0, 0);
  --ElementColor: rgb(71, 37, 37);
  --NavColor: gold;
  --NavHoverColor: rgb(112, 97, 1);
  --DelColor: rgb(253, 11, 51);
  --DelHoverColor: rgb(88, 0, 16);
  --THeadColor: brown;
  --TBodyEvenColor: orange;
  --TBodyOddColor: darkorange;
}

body {
  margin-bottom: 60px;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.base{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: var(--BaseColor);
  box-shadow: 0 0 50px var(--BaseColor);
  overflow: auto;
}
.base table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.base tr td:last-child
{
  vertical-align: top;
}
.base tr td:first-child{
  width: 10%;
  min-width: 10%;
  max-width: 10%;
  word-break: break-all;
}

.status{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--ElementColor);
  box-shadow: 0 0 10px var(--ElementColor);
}

.login{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--ElementColor);
  box-shadow: 0 0 10px var(--ElementColor);
}
.login table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.login td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.login tr td:first-child{
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  word-break: break-all;
}

.select{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--ElementColor);
  box-shadow: 0 0 10px var(--ElementColor);
}
.select table{
  width: 100%;
  margin: 0px;
}
.select td{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 80px;
}
.select-top{
  width: 98%;
  height: 98%;
  margin: auto;
  background-color: var(--NavColor);
  color: black;
}
.select-top:hover{
  background-color: var(--NavHoverColor);
  color: white;
}
.select-lower{
  width: 96%;
  height: 96%;
  margin: auto;
  background-color: var(--NavColor);
  color: black;
}
.select-lower:hover{
  background-color: var(--NavHoverColor);
  color: white;
}

.data{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: var(--ElementColor);
  text-align: center;
}
.data table{
  border-collapse: collapse;
  width: 100%;
  color: black;
}
.data thead th{
  background-color: var(--THeadColor);
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 50px;
}
.data th, .data td{
  padding: 10px;
  text-align: left;
}
.data tbody tr:nth-of-type(even) {
  background-color: var(--TBodyEvenColor);
}
.data tbody tr:nth-of-type(odd) {
  background-color: var(--TBodyOddColor);
}


p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid; 
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

input{
  width: 95%;
  height: 95%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.nav{
  background-color: var(--NavColor);
}
.nav:hover{
  background-color: var(--NavHoverColor);
  color: white;
}
.del{
  background-color: var(--DelColor);
}
.del:hover{
  background-color: var(--DelHoverColor);
  color: white;
}