html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

:root{
  /*color mode Red*/
  --RedBaseColor: rgb(49, 0, 0);
  --RedElementColor: rgb(71, 37, 37);
  --RedNavColor: gold;
  --RedNavHoverColor: rgb(112, 97, 1);
  --RedDelColor: rgb(253, 11, 51);
  --RedDelHoverColor: rgb(88, 0, 16);
  --RedTHeadColor: brown;
  --RedTBodyEvenColor: orange;
  --RedTBodyOddColor: darkorange;
  /*------------------------------------------------------*/

  /*color mode Blue*/
  --BlueBaseColor: rgb(0, 0, 56);
  --BlueElementColor: darkblue;
  --BlueNavColor: cyan;
  --BlueNavHoverColor: rgb(0, 85, 85);
  --BlueDelColor: rgb(255, 0, 43);
  --BlueDelHoverColor: rgb(65, 1, 11);
  --BlueTHeadColor: rgb(12, 141, 253);
  --BlueTBodyEvenColor: rgb(184, 222, 255);
  --BlueTBodyOddColor: rgb(123, 191, 250);
  /**/

  /*color mode Gray*/
  --GrayBaseColor: black;
  --GrayElementColor: rgb(71, 71, 71);
  --GrayNavColor: rgb(238, 238, 238);
  --GrayNavHoverColor: rgb(26, 26, 26);
  --GrayDelColor: rgb(238, 238, 238);
  --GrayDelHoverColor: rgb(26, 26, 26);
  --GrayTHeadColor: rgb(187, 187, 187);
  --GrayTBodyEvenColor: rgb(204, 204, 204);
  --GrayTBodyOddColor: rgb(221, 221, 221);
  /**/

  /*color mode template*/
  --BaseColor: gray;
  --ElementColor: gray;
  --NavColor: gray;
  --NavHoverColor: gray;
  --DelColor: gray;
  --DelHoverColor: gray;
  --THeadColor: gray;
  --TBodyEvenColor: gray;
  --TBodyOddColor: gray;
  /**/
}

body {
  margin-bottom: 60px;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---*/
/*base container*/
  .base-red,
  .base-blue,
  .base-gray{
    width: 98%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      text-align: center;
      color: white;
      overflow: auto;
  }
  .base-red table,
  .base-blue table,
  .base-gray table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .base-red td,
  .base-blue td,
  .base-gray td{
    vertical-align: top;
  }
  .base-red tr td:first-child,
  .base-blue tr td:first-child,
  .base-gray tr td:first-child{
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    word-break: break-all;
  }

  /*Red*/
  .base-red{
    background-color: var(--RedBaseColor);
    box-shadow: 0 0 50px var(--RedBaseColor);
  }

  /*Blue*/
  .base-blue{
    background-color: var(--BlueBaseColor);
    box-shadow: 0 0 50px var(--BlueBaseColor);
  }

  /*Gray*/
  .base-gray{
    background-color: var(--GrayBaseColor);
    box-shadow: 0 0 50px var(--GrayBaseColor);
  }

  /*Template*/
  .base-{
    background-color: var(--BaseColor);
    box-shadow: 0 0 50px var(--BaseColor);
  }
/*---*/

/*---*/
/*status bar container*/
  .status-red,
  .status-blue,
  .status-gray{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  /*Red*/
  .status-red{
    background-color: var(--RedElementColor);
    box-shadow: 0 0 10px var(--RedElementColor);
  }

  /*Blue*/
  .status-blue{
    background-color: var(--BlueElementColor);
    box-shadow: 0 0 10px var(--BlueElementColor);
  }

  /*Gray*/
  .status-gray{
    background-color: var(--GrayElementColor);
    box-shadow: 0 0 10px var(--GrayElementColor);
  }

  /*Template*/
  .status-{
    background-color: var(--ElementColor);
    box-shadow: 0 0 10px var(--ElementColor);
  }
/*---*/

/*---*/
/*login form container*/
  .login-red,
  .login-blue,
  .login-gray{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
  }
  .login-red table,
  .login-blue table,
  .login-gray table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .login-red td,
  .login-blue td,
  .login-gray td{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login-red tr td:first-child,
  .login-blue tr td:first-child,
  .login-gray tr td:first-child{
    width: 25%;
    min-width: 25%;
    max-width: 25%;
    word-break: break-all;
  }

  /*Red*/
  .login-red{
    background-color: var(--RedElementColor);
    box-shadow: 0 0 10px var(--RedElementColor);
  }

  /*Blue*/
  .login-blue{
    background-color: var(--BlueElementColor);
    box-shadow: 0 0 10px var(--BlueElementColor);
  }

  /*Gray*/
  .login-gray{
    background-color: var(--GrayElementColor);
    box-shadow: 0 0 10px var(--GrayElementColor);
  }

  /*Template*/
  .login-{
    background-color: var(--ElementColor);
    box-shadow: 0 0 10px var(--ElementColor);
  }
/*---*/

/*---*/
/*select buttons container*/

  .select-red,
  .select-blue,
  .select-gray{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .select-red table,
  .select-blue table,
  .select-gray table{
    width: 100%;
    margin: 0px;
  }
  .select-red td,
  .select-blue td,
  .select-gray td{
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    height: 80px;
  }
  .select-top-red,
  .select-top-blue,
  .select-top-gray{
    width: 98%;
    height: 98%;
    margin: auto;
    color: black;
  }
  .select-top-red:hover,
  .select-top-blue:hover,
  .select-top-gray:hover{
    color: white;
  }
  .select-lower-red,
  .select-lower-blue,
  .select-lower-gray{
    width: 96%;
    height: 96%;
    margin: auto;
    color: black;
  }
  .select-lower-red:hover,
  .select-lower-blue:hover,
  .select-lower-gray:hover{
    color: white;
  }

  /*Red*/
  .select-red{
    background-color: var(--RedElementColor);
    box-shadow: 0 0 10px var(--RedElementColor);
  }
  .select-top-red{
    background-color: var(--RedNavColor);
  }
  .select-top-red:hover{
    background-color: var(--RedNavHoverColor);
  }
  .select-lower-red{
    background-color: var(--RedNavColor);
  }
  .select-lower-red:hover{
    background-color: var(--RedNavHoverColor);
  }

  /*Blue*/
  .select-blue{
    background-color: var(--BlueElementColor);
    box-shadow: 0 0 10px var(--BlueElementColor);
  }
  .select-top-blue{
    background-color: var(--BlueNavColor);
  }
  .select-top-blue:hover{
    background-color: var(--BlueNavHoverColor);
  }
  .select-lower-blue{
    background-color: var(--BlueNavColor);
  }
  .select-lower-blue:hover{
    background-color: var(--BlueNavHoverColor);
  }

  /*Gray*/
  .select-gray{
    background-color: var(--GrayElementColor);
    box-shadow: 0 0 10px var(--GrayElementColor);
  }
  .select-top-gray{
    background-color: var(--GrayNavColor);
  }
  .select-top-gray:hover{
    background-color: var(--GrayNavHoverColor);
  }
  .select-lower-gray{
    background-color: var(--GrayNavColor);
  }
  .select-lower-gray:hover{
    background-color: var(--GrayNavHoverColor);
  }

  /*Template*/
  .select-{
    background-color: var(--ElementColor);
    box-shadow: 0 0 10px var(--ElementColor);
  }
  .select-top-{
    background-color: var(--NavColor);
  }
  .select-top-:hover{
    background-color: var(--NavHoverColor);
  }
  .select-lower-{
    background-color: var(--NavColor);
  }
  .select-lower-:hover{
    background-color: var(--NavHoverColor);
  }
/*---*/

/*---*/
/*container of data form and table*/

  .data-red,
  .data-blue,
  .data-gray{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
  }
  .data-red table,
  .data-blue table,
  .data-gray table{
    border-collapse: collapse;
    width: 100%;
    color: black;
  }
  .data-red thead th,
  .data-blue thead th,
  .data-gray thead th{
    position: sticky;
    top: 0;
    z-index: 1;
    max-height: 50px;
  }
  .data-red th, .data-red td,
  .data-blue th, .data-blue td,
  .data-gray th, .data-gray td{
    padding: 10px;
    text-align: left;
  }

  /*Red*/
  .data-red{
    background-color: var(--RedElementColor);
  }
  .data-red thead th{
    background-color: var(--RedTHeadColor);
  }
  .data-red tbody tr:nth-of-type(even) {
    background-color: var(--RedTBodyEvenColor);
  }  
  .data-red tbody tr:nth-of-type(odd) {
    background-color: var(--RedTBodyOddColor);
  }

  /*Blue*/
  .data-blue{
    background-color: var(--BlueElementColor);
  }
  .data-blue thead th{
    background-color: var(--BlueTHeadColor);
  }
  .data-blue tbody tr:nth-of-type(even) {
    background-color: var(--BlueTBodyEvenColor);
  }  
  .data-blue tbody tr:nth-of-type(odd) {
    background-color: var(--BlueTBodyOddColor);
  }

  /*Gray*/
  .data-gray{
    background-color: var(--GrayElementColor);
  }
  .data-gray thead th{
    background-color: var(--GrayTHeadColor);
  }
  .data-gray tbody tr:nth-of-type(even) {
    background-color: var(--GrayTBodyEvenColor);
  }  
  .data-gray tbody tr:nth-of-type(odd) {
    background-color: var(--GrayTBodyOddColor);
  }

  /*Template*/
  .data-{
    background-color: var(--ElementColor);
  }
  .data- thead th{
    background-color: var(--THeadColor);
  }
  .data- tbody tr:nth-of-type(even) {
    background-color: var(--TBodyEvenColor);
  }  
  .data- tbody tr:nth-of-type(odd) {
    background-color: var(--TBodyOddColor);
  }
/*---*/

/*---*/
/*submit buttons for navigation and deletion*/

  .nav-red:hover, .del-red:hover,
  .nav-blue:hover, .del-blue:hover,
  .nav-gray:hover, .del-gray:hover{
    color: white;
  }

  /*Red*/
  .nav-red{
    background-color: var(--RedNavColor);
  }
  .nav-red:hover{
    background-color: var(--RedNavHoverColor);
  }
  .del-red{
    background-color: var(--RedDelColor);
  }
  .del-red:hover{
    background-color: var(--RedDelHoverColor);
  }

  /*Blue*/
  .nav-blue{
    background-color: var(--BlueNavColor);
  }
  .nav-blue:hover{
    background-color: var(--BlueNavHoverColor);
  }
  .del-blue{
    background-color: var(--BlueDelColor);
  }
  .del-blue:hover{
    background-color: var(--BlueDelHoverColor);
  }

  /*Gray*/
  .nav-gray{
    background-color: var(--GrayNavColor);
  }
  .nav-gray:hover{
    background-color: var(--GrayNavHoverColor);
  }
  .del-gray{
    background-color: var(--GrayDelColor);
  }
  .del-gray:hover{
    background-color: var(--GrayDelHoverColor);
  }

  /*Template*/
  .nav-{
    background-color: var(--NavColor);
  }
  .nav-:hover{
    background-color: var(--NavHoverColor);
  }
  .del-{
    background-color: var(--DelColor);
  }
  .del-:hover{
    background-color: var(--DelHoverColor);
  }
/*---*/


p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid; 
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

input{
  width: 95%;
  height: 95%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}